rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email in [
          'an2mouth@yahoo.com',
          'alerttmenow@gmail.com'
        ];
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow read, update: if isAdmin();

      match /capsules/{capsuleId} {
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
        allow read, update, delete: if isAdmin();
      }

      match /trustedContacts/{contactId} {
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
        allow read, update, delete: if isAdmin();
      }

      match /purchases/{purchaseId} {
        allow read: if request.auth != null && request.auth.uid == userId;
        allow read, create, update, delete: if isAdmin();
      }
    }
  }
}
